@font-face {
   font-family: 'cretype  Caros';
   font-display: swap;
   src: url('file:///Users/lucasherlitz/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-01-05_203117/fonts/cretype%20%20Caros/font.woff');
}
